.default {
  outline: 0;
  border: 1px solid #3d3d3d;
  border-radius: 2px;

  &::placeholder {
    color: #6b6b6b;
  }
}

.small {
  padding: 0 7px;
}
.medium {
  padding: 4px 11px;
  font-size: 14px;
}
.large {
  padding: 7px 11px;
  font-size: 16px;
}
